TEST_DB_USER=
TEST_DB_PASS=
TEST_DB_HOST=
TEST_DB_PORT=
TEST_DB_NAME=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_DB=
AUTH_SERVICE_URL=
POSTGRES_HOST_AUTH_METHOD=

MODE=
LOG_LEVEL=

